# Base URL
BASE_URL=https://www.saucedemo.com

# Valid User Credentials
VALID_USERNAME=valid_username
VALID_PASSWORD=valid_password

# Invalid User Credentials
INVALID_USERNAME=invalid_username
INVALID_PASSWORD=invalid_password

 